.main{   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 300px;
}
.mrn{
    margin-top: 20px;
}
.btn1{
    margin-top: 20px;
}
.img{
    padding: 10px 20px;
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.sps{
    margin-top: 20px;
}
